header {
  display: flex;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  border-bottom: 2px solid aliceblue;
  border-left: 2px solid aliceblue;
  border-right: 2px solid aliceblue;
}

header:hover {
  border-color: crimson;
  transition: 0.25s;
}

.dashboardContent{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  padding-top: 20px;
  font-weight: bold;
  margin: auto;
}

.card {
  width: 40%;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid aliceblue;
}

.card:hover {
  border-color: crimson;
  transition: 0.25s;
}

.dashboardSelectButton {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px;
  width: 40vw;
}